body {
  font-family: sans-serif;
}
.content-wrapper {
  margin-left: 10%;
  margin-right: 10%;
  height: 769px;
  width: 1281px;
}
h1 {
  margin-left: 16%;
  color: #8262AE;
  font-family: sans-serif;
  font-size: 300%;
  margin-bottom: 2%;
}
.top-nav {
  width: 100%;
}
.top-nav ul li{
  float: left;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: .8%;
  padding-top: .8%;
  background-color: #8468B3;
  border-right: 3px solid #674B96;
}
#last-link {
  border: none;
}
.top-nav ul li a{
  color: white;
  text-decoration:none;
  font-size: 125%;
  font-weight: bold;
}
.main-content {
  clear: both;
}
/* Index Page Main Content */
.main-content-right {
  float: right;
  background-color: #E1E4E9;
  padding: 13% 14.5% 11.85%;
  margin-right: 11%;
  text-align: center;
}
.main-content-right img {
  padding-bottom: 5%;
}
.main-content-left {
  float: left;
  background-color: #C0B2D5;
  padding: 14% 7.64% 15.7% 7.59%;
  border-right: 1.3px solid #C0B2D5;
}
.main-content-left ul li {
  padding-bottom: 45%;
}
.main-content-left ul li a {
  color: white;
  text-decoration: none;
  font-size: 125%;
  font-weight: bold;
}
/* Second Page Main Content */
.main-content-right-second-page {
  float: right;
  background-color: #E1E4E9;
  padding: 24.61% .5%;
  margin-right: 11%;
  text-align: center;
  width: 858.5px;
}

.main-content-left-second-page {
  float: left;
  background-color: #C0B2D5;
  padding: 14.08% 1.07%;
  border-right: 1.3px solid #C0B2D5;
  text-align: left;
  width: 240px;
}
.main-content-left-second-page p {
  padding-bottom: 10px;
}

/* Third Page Main Content */
.main-content-right-third-page {
  float: right;
  background-color: #E1E4E9;
  padding: 22.89% 18.05%;
  margin-right: 11%;
  text-align: center;
}
.main-content-right-third-page table, td, th {
  border: black solid 1px;
  padding: 1%;
}
.main-content-right-third-page h3 {
  padding-bottom: 5%;
}
.main-content-left-third-page {
  float: left;
  background-color: #C0B2D5;
  padding: 18.27% 1.17%;
  border-right: 1.5px solid #C0B2D5;
}
.main-content-left-third-page img, figcaption {
  max-width: 300px
}

.bottom-nav {
  clear: both;
  margin-left: 33%;
  padding-top: 3%;
  width: 100%;
}
.bottom-nav a img {
  width: 4%;
  padding: 1%;
  height: 4%;
}